<!--600-->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MonsterLab</title>
	<style>
		body{
			margin: 0;
			padding: 0;
		}
		@media(max-width: 600px){
			.wrapper{
				width: 100%;
			}
		}
	</style>
</head>

<body>
	<table class="wrapper" width="600" cellspacing="0"  border="0" align="center" style=" border-collapse: collapse;background: #F7F7F7;border-top: 2px solid #e8e8e8;border-left: 2px solid #e8e8e8;border-right: 2px solid #e8e8e8;">
		<tr>
			<td>
				<table cellpadding="35" style="background-image: url(https://snackdev.s3-ap-southeast-1.amazonaws.com/images/bg-termlife.png);height: 823px;width: 600px;background-size: cover;">        
					<tbody>
						<tr>
							<td style="padding:0 35px 0 35px;">
			                    <table cellspacing="0" cellpadding="0" border="0" class="wrapper" width="530" style=" border-collapse: collapse;">
			                        <tbody>
			                            <tr>
			                                <td class="wrapper" cellpadding="0" cellspacing="0" width="530" align="center">
			                                    <!-- Header image -->
			                                    <table class="section header wrapper" cellpadding="0" cellspacing="0" width="530" align="center" border="0"
			                                        >
			                                        <tr>
			                                            <td height="80" valign="top" class="column">
			                                                <table cellpadding="0" cellspacing="0" width="80%" align="left" border="0"
			                                                    style="display: block;">
			                                                    <tbody style="display: table;width: 100%;">
			                                                        <tr>
			                                                            <td align="left" width="225">
			                                                                <a href="<%= data.webUrl %>" title="Picstagraph" target="_blank">
			                                                                    <img src="https://snackdev.s3-ap-southeast-1.amazonaws.com/images/logo-black.png"
			                                                                        alt="Picstagraph Logo" style="display: block;" />
			                                                                </a>
			                                                            </td>
			                                                        </tr>
			                                                    </tbody>
			                                                </table>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                            </tr> 
			                        </tbody>
			                    </table>
			                    <table style=" border-collapse: collapse;">
			                        <tbody>                            
			                            <tr>
			                                <td class="wrapper" width="530" align="left">
			                                    <table cellpadding="0" cellspacing="0">
			                                        <tr>
			                                            <td class="wrapper" width="100%" align="left">
			                                                <table class="wrapper" cellpadding="0" cellspacing="0" width="100%" align="center">
			                                                    <tbody>
			                                                        <tr>
			                                                            <td align="left" style="padding: 30px 0 0;">
			                                                                <p style="margin-bottom: 0px;font-size: 24px;font-family:'Arial',sans-serif;line-height: 1.25;color: #4a4a4a;text-align: left;font-weight: bold;margin-top:5px;">Somebody loves ya, Sly!</br>You've just earned another $500 <%= data.title %> insurance coverage because your friend joined SNACK!</p>
			                                                                <p style="font-size: 14px;color: #4a4a4a;line-height: 1.71;margin:10px 0 5px;font-family:'Arial',sans-serif;">Continue to upsize your complimentary insurance coverage by up to $5000 when you successfully refer a friend to register on SNACK!</p>
			                                                            </td>
			                                                        </tr>
			                                                    </tbody>
			                                                </table>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                            </tr>                            
			                            <tr>
			                                <td class="wrapper" width="100%" align="left">
			                                    <table cellpadding="0" cellspacing="0">
			                                        <tr>
			                                            <td class="wrapper" width="100%" align="left">
			                                                <table class="wrapper" cellpadding="0" cellspacing="0" width="100%" align="left">
			                                                    <tbody>
			                                                        <tr>
			                                                            <td align="left" style="padding-left: 0;">
			                                                                <p style="color: #000;margin-top: 0px;margin-bottom: 15px;text-align: left;font-size: 12px;font-family:'Arial',sans-serif;line-height: 1.5;border-radius: 10px;background-color: #ffd100;max-width:244px;padding:15px;font-weight: bold;">Total <%= data.title %> insurance coverage accumulated as of today:<span style="font-size: 24px;color: #000;display: block;">		$1000</span></p>
			                                                                <a href="<%= data.termsOfUse %>" style="float: left;margin-bottom: 0px;font-size: 12px;font-family:'Arial',sans-serif;line-height: 24px;color: #4a4a4a;text-decoration: none;text-align: left;">
			                                                                    * Terms & conditions apply
			                                                                </a>
			                                                            </td>
			                                                            <td align="left" style="padding-left: 50px;">
			                                                            	<p style="width: 126px;text-align: center;padding: 7px 10px;font-size: 16px;font-weight: bold;color: #211f1f;line-height: 1.78;font-family:'Arial';background-image: url(https://snackdev.s3-ap-southeast-1.amazonaws.com/images/value-tag.png);height: 43px;background-size: cover;">$500 added!</p>
			                                                                <img src="https://snackdev.s3-ap-southeast-1.amazonaws.com/images/term-emailer.png" style="margin: 20px 0;">
			                                                            </td>
			                                                        </tr>
			                                                    </tbody>
			                                                </table>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                            </tr>
			                            <tr>
			                                <td class="wrapper" width="100%" align="left">
			                                    <table cellpadding="0" cellspacing="0" width="100%">
			                                        <tr>
			                                            <td class="wrapper" width="100%" align="left">
			                                                <table class="wrapper" cellpadding="0" cellspacing="0" width="100%" align="left" style="padding-top: 10px;">
			                                                    <tbody>
			                                                        <tr>
			                                                            <td align="center">
			                                                                <a href="<%= data.shareUrl %>" style="margin-bottom: 0px;font-size: 14px;font-family:'Arial',sans-serif;line-height: 24px;color:#fff;text-align: left;text-decoration: none;font-weight:600;background-color: #00b0a5;display: inline-block;width: 100%;text-align: center;border-radius: 27.5px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);padding: 15px 0;">
			                                                                    INVITE YOUR FRIENDS NOW!
			                                                                </a>
			                                                            </td>
			                                                        </tr>
			                                                    </tbody>
			                                                </table>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                            </tr>
			                        </tbody>
			                    </table>
							</td>
			            </tr>
			        </tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="35">
					<tr>
		                <td style="padding:35px 35px 35px 35px;">
		                    <table class="wrapper" width="530" height="5" style="border-collapse: collapse;">
		                        <tbody>
		                            <tr>
		                                <td>
		                                    <p style="font-size: 16px;line-height: 22px;color: #4a4a4a;font-weight: bold;margin: 7px 0;font-family:'Arial',sans-serif;">SNACK by Income</p>
		                                    <p style="font-size: 12px;line-height: 14px;color: #4a4a4a;margin: 2px 0;font-family:'Arial',sans-serif;">48A Peck Seah Street, Singapore 079317</p>
		                                    <p style="font-size: 12px;line-height: 14px;color: #4a4a4a;margin: 2px 0;font-family:'Arial',sans-serif;"><a href="<%= data.privacyUrl %>" style="color: #4a4a4a;"> Privacy Policy</a> | <a href="<%= data.termsOfUse %>" style="color: #4a4a4a;">Terms & Conditions</a></p>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>                    
		                </td>
		            </tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>